-a always,exit -F arch={{ arch_type }} -S chmod -F auid>=1000 -F auid!=4294967295 -F key=perm_mod
-a always,exit -F arch={{ arch_type }} -S chown -F auid>=1000 -F auid!=4294967295 -F key=perm_mod
-a always,exit -F arch={{ arch_type }} -S fchmod -F auid>=1000 -F auid!=4294967295 -F key=perm_mod
-a always,exit -F arch={{ arch_type }} -S fchmodat -F auid>=1000 -F auid!=4294967295 -F key=perm_mod
-a always,exit -F arch={{ arch_type }} -S fchown -F auid>=1000 -F auid!=4294967295 -F key=perm_mod
-a always,exit -F arch={{ arch_type }} -S fchownat -F auid>=1000 -F auid!=4294967295 -F key=perm_mod
-a always,exit -F arch={{ arch_type }} -S fremovexattr -F auid>=1000 -F auid!=4294967295 -F key=perm_mod
-a always,exit -F arch={{ arch_type }} -S fsetxattr -F auid>=1000 -F auid!=4294967295 -F key=perm_mod
-a always,exit -F arch={{ arch_type }} -S lchown -F auid>=1000 -F auid!=4294967295 -F key=perm_mod
-a always,exit -F arch={{ arch_type }} -S lremovexattr -F auid>=1000 -F auid!=4294967295 -F key=perm_mod
-a always,exit -F arch={{ arch_type }} -S lsetxattr -F auid>=1000 -F auid!=4294967295 -F key=perm_mod
-a always,exit -F arch={{ arch_type }} -S removexattr -F auid>=1000 -F auid!=4294967295 -F key=perm_mod
-a always,exit -F arch={{ arch_type }} -S setxattr -F auid>=1000 -F auid!=4294967295 -F key=perm_mod
-a always,exit -F arch={{ arch_type }} -S creat -F exit=-EACCES -F auid>=1000 -F auid!=4294967295 -F key=access
-a always,exit -F arch={{ arch_type }} -S creat -F exit=-EPERM -F auid>=1000 -F auid!=4294967295 -F key=access
-a always,exit -F arch={{ arch_type }} -S open -F exit=-EACCES -F auid>=1000 -F auid!=4294967295 -F key=access
-a always,exit -F arch={{ arch_type }} -S open -F exit=-EPERM -F auid>=1000 -F auid!=4294967295 -F key=access
-a always,exit -F arch={{ arch_type }} -S openat -F exit=-EACCES -F auid>=1000 -F auid!=4294967295 -F key=access
-a always,exit -F arch={{ arch_type }} -S openat -F exit=-EPERM -F auid>=1000 -F auid!=4294967295 -F key=access
-a always,exit -F arch={{ arch_type }} -S open_by_handle_at -F exit=-EACCES -F auid>=1000 -F auid!=4294967295 -F key=access
-a always,exit -F arch={{ arch_type }} -S open_by_handle_at -F exit=-EPERM -F auid>=1000 -F auid!=4294967295 -F key=access
-a always,exit -F arch={{ arch_type }} -S truncate -F exit=-EACCES -F auid>=1000 -F auid!=4294967295 -F key=access
-a always,exit -F arch={{ arch_type }} -S truncate -F exit=-EPERM -F auid>=1000 -F auid!=4294967295 -F key=access
-a always,exit -F arch={{ arch_type }} -S ftruncate -F exiu=-EACCES -F auid>=1000 -F auid!=4294967295 -F key=access
-a always,exit -F arch={{ arch_type }} -S ftruncate -F exit=-EPERM -F auid>=1000 -F auid!=4294967295 -F key=access
-a always,exit -F path=/usr/sbin/semanage -F perm=x -F auid>=1000 -F auid!=4294967295 -F key=privileged-priv_change
-a always,exit -F path=/usr/sbin/setsebool -F perm=x -F auid>=1000 -F auid!=4294967295 -F key=privileged-priv_change
-a always,exit -F path=/usr/bin/chcon -F perm=x -F auid>=1000 -F auid!=4294967295 -F key=privileged-priv_change
-a always,exit -F path=/usr/sbin/restorecon -F perm=x -F auid>=1000 -F auid!=4294967295 -F key=privileged-priv_change
-w /usr/sbin/modprobe -p x -k modules
-w /var/log/tallylog -p wa -k logins
-w /var/run/faillock/ -p wa -k logins
-w /var/log/lastlog -p wa -k logins
-w /usr/sbin/rmmod -p x -k modules
-w /usr/sbin/insmod -p x -k modules
-a always,exit -F arch={{ arch_type }} -S delete_module -F key=modules
-a always,exit -F arch={{ arch_type }} -S init_module -F key=modules
-w /etc/passwd -p wa -k audit_rules_usergroup_modification
-w /etc/security/opasswd -p wa -k audit_rules_usergroup_modification
-w /etc/group -p wa -k audit_rules_usergroup_modification
-w /etc/gshadow -p wa -k audit_rules_usergroup_modification
-w /etc/shadow -p wa -k audit_rules_usergroup_modification
-w /etc/sudoers -p wa -k actions
-w /etc/sudoers.d/ -p wa -k actions
